.header {
    display: flex;
align-items: center;
justify-content: center;
align-content: center;
justify-items: center;
font-weight: bold;
font-size: 3rem;
}


span {
    color: blueviolet;
}

div {
border-color: orangered;

}